body {
    color: wheat;
    background: darkred;
    margin: 0px ;
    font-family: "Chakra Petch", sans-serif;
}

p{ text-align:start}

header{
    border-bottom: solid 2px wheat;
    padding: 20px;
    font-size: 35px;
}


section{
    background: rgb(185 18 27);
    padding-bottom: 50px;
    padding-top:50px ;
    display:flex;
    justify-content:center;
}

div {
    margin-right: 500px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}


img{
    height: 200px;
}